@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html { overflow-x: hidden;
        font-size:62.5%; }

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:hidden;
    background-color: white;
}

h2 {
    font-family: 'Lobster', cursive;
    text-align: center; 
    font-size:8rem;
}


/* Color de títulos h2 en distintas secciones */

#how-we-are h2, .contact-us  h2 {
    color:  #DE354C;
}

#reviews h2 {
    color: white;
}


/* Navbar */

nav {
    display:flex;
    position: fixed;
    align-items: center;
    overflow:hidden;
    background-color:rgba(226, 226, 226, 0.9);
    border-bottom: 0.1rem solid rgba(212, 212, 212, 0.849);
    height: 11em;
    width: 100%;
    z-index: 20;
}

nav ul {
    list-style: none;
    display: flex;
    flex:1;
    justify-content:flex-end;
    align-items: center;
}

nav ul li {
    color: #DE354C;
    font-size:1.6em;
    letter-spacing: 0.3rem;
    word-spacing: 0.5rem;
    margin-right: 5rem;
}


nav ul li a {
    text-decoration: none;
}


/* LOGO */

header h1 {

    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    font-size: 4rem;
    color: #DE354C;

}

header span {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(155, 155, 155, 0.849);
    font-size: 2rem;
    letter-spacing: 0.5rem;
    margin-left: 1rem;
    display:block;
}

/* Banner */

#b-container {
    background-color: rgb(58, 58, 58);
    height: 53rem;
    overflow: hidden;
    pointer-events: none;
}

.pc-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;

}

/* Seccion quienes somos */

#how-we-are {
    max-width: 100rem;
    margin: 0 auto;
}

#how-we-are article {
    font-family: 'Trebuchet MS', sans-serif;
}

#how-we-are article p {
    text-align: left;
    font-size:2rem;
    line-height: 4rem;
    color: rgb(58, 58, 58);
  }


    /* Reseñas */

#reviews {
    background-color: #DE354C;
    height: 60rem;
}  

#reviews p {
    color:white;
    font-size:3.5rem;
}

/* Redes sociales */

.contact-us {
    height: 50rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a {
    background:url("imagenes/socialicons.png");
    background-repeat:no-repeat;
    overflow:hidden;
    width: 14rem;
    height: 14rem;
    display: inline-block;
    margin: 0 3rem 0 3rem;
}

.social .fb {
    background-position: -80px 0px;
}

.social .tw {
    background-position: -230px 0px;    
}

.social .goo {
    background-position: -450px -139px;    
}

/* Footer */

footer {
    height:8rem;
    background-color:rgb(58, 58, 58);
    color:white;
}

footer p {
    float:left;
    font-size:1.8rem;
    margin-left:0.5rem;
    letter-spacing: 3px;
}

.footer-social {
    float:right;

}

.footer-social a {
    background:url("imagenes/botonera.png");
    background-repeat:no-repeat;
    overflow:hidden;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-left:5px;
    /* width:35px;
    height:35px; */
}

.footer-social .lin {
    background-position: -352px -40px;
}

.footer-social .lin:hover {
    background-position: -352px 0px;
}


.footer-social .fb2 {
    background-position: -152px -40px;
}

.footer-social .fb2:hover {
    background-position: -152px 0px;
}

